@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
/*Global styles*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Manrope", sans-serif;
  font-size: 10px;
  color: #1b2031;
  background: whitesmoke;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

section {
  padding: 3.9rem 0;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 122.5rem;
  margin: 0 auto;
  padding: 0 2.4rem;
}

.shape2 {
  width: 100rem;
  height: 100rem;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  background: #2e9f79;
  top: 0;
  right: 0;
  position: fixed;
  -webkit-transform: translate(25%, -20%);
          transform: translate(25%, -20%);
  z-index: -1;
}

header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.nav {
  height: 7.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav .logo {
  color: #1b2031;
  font-size: 1.3rem;
  font-weight: 600;
}

.nav .logo .green {
  color: #23c45c;
}

.nav .menu-toggle {
  color: #fff;
  font-size: 2.2rem;
  position: absolute;
  right: 2.5rem;
  cursor: pointer;
  z-index: 1500;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.nav .menu-toggle .btn-line {
  width: 2.8rem;
  height: 0.4rem;
  margin: 0 0 0.5rem 0;
  background: #1b2031;
  -webkit-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
}

.nav .menu-toggle.close {
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
  position: fixed;
}

.nav .menu-toggle.close .btn-line {
  background: whitesmoke;
}

.nav .menu-toggle.close .btn-line:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(0.5rem, 0.5rem);
          transform: rotate(45deg) translate(0.5rem, 0.5rem);
}

.nav .menu-toggle.close .btn-line:nth-child(2) {
  opacity: 0;
}

.nav .menu-toggle.close .btn-line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(0.7rem, -0.7rem);
          transform: rotate(-45deg) translate(0.7rem, -0.7rem);
}

.nav .nav-list {
  list-style: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #1b2031;
  padding: 4.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1250;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .nav-list.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav .nav-list .nav-link {
  display: block;
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 3px;
  margin-right: -3px;
  margin: 5rem 0;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.nav .nav-list .nav-link:hover {
  color: #3edc76;
}

.menu-btn {
  background: #3edc76;
  padding: 10px 30px;
  font-size: 2rem;
  border-radius: 12px;
  font-weight: 600;
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: whitesmoke;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.menu-btn:hover {
  color: #1b2031;
}

.hero {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.hero .image-hero {
  display: none;
}

.hero .main-content .heading {
  display: inline-block;
  text-align: left;
  font-size: 4.7rem;
  font-weight: 700;
}

.hero .main-content .heading p {
  font-size: 1.4rem;
  font-weight: 400;
}

.hero .main-content .call-actions {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .main-content .call-actions .android-btn,
.hero .main-content .call-actions .apple-btn {
  padding: 1.5rem;
  border-radius: 1.2rem;
  width: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
  border: 2px solid #1b2031;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.hero .main-content .call-actions .android-btn:hover,
.hero .main-content .call-actions .apple-btn:hover {
  background: #3edc76;
  border: 2px solid #3edc76;
}

.hero .main-content .call-actions .android-btn:hover i,
.hero .main-content .call-actions .apple-btn:hover i {
  color: #1b2031;
}

.hero .main-content .call-actions .android-btn i,
.hero .main-content .call-actions .apple-btn i {
  color: #1b2031;
  font-size: 1.2rem;
}

.phone-img .container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.phone-img .container .img-container img {
  -webkit-transform: translate(-20rem, 9rem) scale(0.9);
          transform: translate(-20rem, 9rem) scale(0.9);
  z-index: -1;
  overflow: hidden;
}

.phone-img .container .heading {
  position: relative;
  background-color: #1b2031;
  border-radius: 0.7rem;
  top: 4rem;
}

.phone-img .container .heading h1 {
  font-size: 3rem;
  padding: 0.5rem 0rem;
  color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.perks {
  background: #1b2031;
  color: whitesmoke;
  /* Slideshow container */
}

.perks .container .image-group {
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
  margin-bottom: 6rem;
}

.perks .container .image-group img {
  width: 100%;
}

.perks .slideshow-container {
  position: relative;
  /* Slides */
  /* Next & previous buttons */
  /* Position the "next button" to the right */
  /* On hover, add a black background color with a little bit see-through */
  /* The dot/bullet/indicator container */
  /* The dots/bullets/indicators */
  /* Add a background color to the active dot/circle */
  /* Add an italic font style to all quotes */
  /* Add a blue color to the author */
}

.perks .slideshow-container .mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

.perks .slideshow-container .mySlides q {
  color: blue;
  font-size: 2rem;
}

.perks .slideshow-container .prev,
.perks .slideshow-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.perks .slideshow-container .next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

.perks .slideshow-container .prev:hover,
.perks .slideshow-container .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.perks .slideshow-container .dot-container {
  text-align: center;
  padding: 20px;
  background: #ddd;
}

.perks .slideshow-container .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.perks .slideshow-container .active,
.perks .slideshow-container .dot:hover {
  background-color: #717171;
}

.perks .slideshow-container q {
  font-style: italic;
}

.perks .slideshow-container .author {
  color: cornflowerblue;
}

footer {
  padding: 7.9rem 0;
  background-color: #1b2031;
  color: whitesmoke;
  text-align: center;
  position: relative;
}

footer .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .bottom .download-btn {
  background: #3edc76;
  padding: 10px 30px;
  width: 25rem;
  font-size: 2rem;
  border-radius: 12px;
  font-weight: 600;
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: whitesmoke;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

footer .bottom .download-btn:hover {
  color: #1b2031;
}

footer .back-to-top {
  width: 7rem;
  height: 7rem;
  background-color: #1b2031;
  position: absolute;
  top: -3rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 50px;
}

footer .back-to-top i {
  display: block;
  color: #3edc76;
  font-size: 2rem;
  padding: 2rem;
  -webkit-animation: up 1.5s infinite;
          animation: up 1.5s infinite;
}

footer .footer-content {
  overflow: hidden;
}

footer .footer-content h4 {
  font-size: 1.9rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}

footer .footer-content-about {
  margin-bottom: 5.4rem;
}

footer .footer-content-about p {
  line-height: 2;
}

footer .social-icons {
  list-style: none;
  margin-bottom: 5.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .social-icons i {
  color: white;
  font-size: 2rem;
  padding: 0.8rem 2rem;
  opacity: 0.5;
  -webkit-transition: color opacity 0.3s;
  transition: color opacity 0.3s;
}

footer .social-icons i:hover, footer .social-icons i:focus {
  color: #3edc76;
  opacity: 1;
}

footer .newsletter-form {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .newsletter-input {
  width: 100%;
  max-width: 25rem;
  padding: 1rem;
  border-radius: 0.4rem;
}

footer .newsletter-btn {
  background-color: transparent;
  border: none;
  color: #1b2031;
  cursor: pointer;
  font-size: 1.6rem;
  padding: 1px 0.6rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-left: 10.5rem;
}

@-webkit-keyframes up {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
}

@keyframes up {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
}

@media screen and (min-width: 1200px) {
  section {
    padding: 7.9rem;
  }
  .menu-toggle {
    display: none;
  }
  .nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav .nav-list {
    position: initial;
    width: initial;
    height: initial;
    background-color: transparent;
    padding: 0;
    -webkit-transform: initial;
            transform: initial;
    -webkit-transition: initial;
    transition: initial;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .nav .nav-list .menu-btn {
    margin-top: 0;
  }
  .nav .nav-list .nav-item {
    margin: 0 2.4rem;
    border: none;
  }
  .nav .nav-list .nav-item a {
    color: #1b2031;
    text-transform: none;
  }
  .hero {
    overflow: hidden;
  }
  .hero .main-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .hero .main-content .heading {
    font-size: 8rem;
  }
  .hero .main-content .heading p {
    font-size: 2.1rem;
  }
  .hero .main-content .call-actions {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
  }
  .hero .main-content .call-actions .android-btn,
  .hero .main-content .call-actions .apple-btn {
    width: 20rem;
    margin: 0;
    margin-right: 1rem;
  }
  .hero .main-content .call-actions .android-btn i,
  .hero .main-content .call-actions .apple-btn i {
    font-size: 2.5rem;
  }
  .hero .image-hero {
    display: initial;
    position: absolute;
    z-index: -1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform: translate(-10rem, -40rem) scale(0.9);
            transform: translate(-10rem, -40rem) scale(0.9);
  }
}
/*# sourceMappingURL=style.css.map */